* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 27, 27);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero-text {
  color: white;
  font-size: 80px;
  font-weight: bold;
}
